@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {font-family: 'Lexend Deca', sans-serif;}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
/* Main */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 930px;
    height: 500px;

    border-radius: 0.7rem;
    overflow: hidden;
}
.card{
    display: grid;
    grid-template-rows: 1fr 1fr 2.5fr 1fr;
    padding: 3rem;
    gap: 1rem;
}
.card-sedan{background-color: hsl(31, 77%, 52%);}
.card-suv{background-color: hsl(184, 100%, 22%);}
.card-luxury{background-color: hsl(179, 100%, 13%);}
.card .card-title{color: #fff;font-family: 'Big Shoulders Display',cursive;font-size: 2.5rem;}
.card .card-descr{color: hsla(0, 0%, 100%, 0.75);word-spacing: 1px;line-height: 1.7rem;}
.card a{
    text-decoration: none;
    text-align: center;
    background-color: hsl(0, 0%, 95%);
    border-radius: 50px;
    width: 9rem;
    height: 3rem;
    padding-block: 0.9rem;
    align-self: end;
    font-weight: 700;
}
.card-sedan a{color: hsl(31, 77%, 52%);}
.card-suv a{color: hsl(184, 100%, 22%);}
.card-luxury a{color: hsl(179, 100%, 13%);}
.card a:hover{
    background-color: inherit;
    border: 1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}
/* Footer */
.attribution {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
}
.attribution a {color: hsl(228, 45%, 44%);}
/* Media */
@media(max-width:768px){
    .container {
        grid-template-columns: 1fr;
        max-width: 60%;
        overflow: scroll;
        height: 600px;
        margin: 0.5rem 0;
    }
}
@media(max-width:500px){
    .container {max-width: 90%;}
    .card{
        height: 600px;
        padding: 2rem;
        grid-template-rows: 1fr 1fr 2.5fr 1fr;
    }
    .card a{align-self:center;}
    .attribution {margin:0;font-size: 0.6rem;}
}